body{
  background-color: #ffffff
}
.container-borda {
  border: 1px solid gray;
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px 10px;
  
}

.header{
    background-color: orange;
    top: 0;
    width: 100%;
}

.header-menu{
    display: inline-block;

}

.header-menu p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    text-transform: uppercase;

}

.estilo::after{
  content: "";
  display: block;
  width: 80%;
  height: 2px;
  background-color: black;
  margin: 20px   auto;
}

.detalhes {
  display: block;
}


.btn-enviar-solicitacao button{
  width: 200px;
  margin: 0 auto;
}

